/* * {
  /* overflow-x: hidden; */
/* }  */

.home {
  background-color: #023e8a;
  background-image: linear-gradient(
      to right,
      rgba(129, 122, 122, 0),
      rgb(49, 46, 46)
    ),
    url("../Images/bg3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-shadow: 2px 2px 6px rgb(83, 80, 80);
}
.home .center {
  padding-top: 10%;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 50%;
}
.head {
  padding-right: 48%;
}
.head img {
  width: 20%;
  height: 20%;
}
.logo img {
  width: 10%;
  height: 10%;
  /* margin-left: 17%; */
}
.center h1 {
  /* font-size: large; */
  font-weight: bold;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* .center h3 { */
/* margin-left: 13%; */
/* overflow-y: hidden; */
/* } */
.line {
  border-bottom: 2px solid white;
  width: 24%;
  margin: auto;
  margin-top: 3%;
}
.line2 {
  border-bottom: 1px solid #14213d;
  width: 20%;
  margin: 0 auto;
  margin-top: 3%;
}
.line3 {
  border-bottom: 1px solid #b9caec;
  width: 24%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}
.word {
  margin-top: 3%;
  /* margin-left: -4%; */
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}
.btn-1 {
  /* box-shadow: inset 0px 1px 3px 0px #91b8b3; */
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #fca311;
  display: inline-block;
  cursor: pointer;
  color: #fca311;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  margin-top: 3%;
  /* margin-left: 14%; */
  /* text-shadow: 0px -1px 0px #304240; */
}
.btn-1:hover {
  background-color: #c2b6a5;
}
.btn-1:active {
  position: relative;
  top: 1px;
}
.btn-1 a {
  color: #fca311;
  text-decoration: none;
}
/* a:visited {
  text-decoration: none;
  color: #fca311;
}
a:hover {
  text-decoration: none;
  color: #fca311;
} */

.info h2 {
  margin-top: 4%;
  text-align: center;
  font-weight: 500;
}
.grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 85%;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 7%;
}
.grid-3 h3 {
  text-align: center;
  color: #14213d;
  font-weight: 400;
}
.grid-3 p {
  text-align: center;
  color: #14213d;
  font-size: 0.9rem;
  padding: 1%;
}
.grid-3 div {
  padding: 2%;
}
.grid-3 i {
  margin-left: 43%;
  margin-bottom: 4%;
}
.about {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #e5e5e5;
  margin-bottom: 5%;
}
.highlights {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-gap: 0%;
  padding: 3%;
  color: #e5e5e5;
  text-align: left;
  /* margin-top: 4%; */
  padding-top: 2%;
  background-color: #14213d;
  -webkit-clip-path: polygon(0% 0%, 91% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 91% 0%, 100% 100%, 0% 100%);
}
.tick {
  margin-left: 30%;
}
.text p {
  font-size: small;
}
.text h3 {
  font-size: 1.2em;
  color: #fca311;
}
.details {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 8%;
  padding-bottom: 3%;
}
.details h2 {
  color: rgb(95, 93, 93);
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.work {
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  margin-top: -5%;
  margin-bottom: 5%;
}
.work h2 {
  text-align: center;
  color: #e5e5e5;
  padding-top: 3%;
}
.work p {
  text-align: center;
  color: #e5e5e5;
}
.carousel {
  width: 60%;
  margin: 0 auto;
}

.testimony {
  background-color: #f7f7f7;
  margin-top: -5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}
.grid-3b {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 75%;
  grid-gap: 5%;
  margin: 0 auto;
}
.grid-3b div {
  background-color: #ffff;
  padding: 3%;
  color: rgb(75, 74, 74);
  font-family: "Avenir Light", Helvetica, Arial, Lucida, sans-serif;
  font-size: 15px;
  line-height: 1.8em;
  text-align: center;
}
.fa-quote-right {
  padding: 4%;
}
.footer {
  background-color: #bbaa99;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%23B0A090' %3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
  padding: 7%;
  margin-top: -9%;
  -webkit-clip-path: polygon(
    100% 0%,
    100% 100%,
    100% 100%,
    101% 100%,
    100% 100%,
    0% 100%,
    0% 78%,
    0% 37%,
    0% 18%
  );
  clip-path: polygon(
    100% 0%,
    100% 100%,
    100% 100%,
    101% 100%,
    100% 100%,
    0% 100%,
    0% 78%,
    0% 37%,
    0% 18%
  );
}
.ft {
  margin-left: 35%;
}
.footer div {
  padding: 1%;
}
.footer .logo,
.fa-mail-bulk {
  margin-left: 20%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .footer {
    margin-top: -13%;
  }
  .logo img {
    width: 38%;
  }
  .head {
    padding-right: 0%;
  }
  .grid-3 {
    grid-template-columns: auto;
  }

  .grid-3b {
    grid-template-columns: auto;
  }

  .about {
    /* padding-top: 3%; */
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    margin-bottom: 5%;
  }

  .highlights {
    padding-top: 6%;

    -webkit-clip-path: none;
    clip-path: none;
  }
  .fas {
    font-size: 30px !important;
  }
  .work h2 {
    font-size: 1.3rem;
  }
  .work p {
    width: 70%;
    margin: 0 auto;
    font-size: 1rem;
    margin-bottom: 3%;
    /* display: none; */
  }
  .work {
    padding-bottom: 17%;
  }
  .carousel {
    width: 75%;
    margin: 0 auto;
  }
  .fa-quote-right {
    padding: 4%;
  }
  .testimony {
    padding-bottom: 58%;
  }
  .ft {
    margin-left: 25%;
  }
}

@media only screen and (min-width: 768px) {
}
